.table-row-cell:empty {-fx-background-color: white;}  .table-row-cell:empty .table-cell {-fx-border-width: 0px;}



.button {
    -fx-padding: 15px;
    -fx-font-size: 20px;
    -fx-border-radius: 10px;
    -fx-background-radius: 13px;
    -fx-font-family: 'Avenir Next';
    -fx-font-weight: bold;
}

.button:disabled {
    -fx-background-color: gray;
    -fx-border-color: darkgray;
}


.buttonRegular {
    -fx-border-color: linear-gradient(to bottom right, #5AFF15, #007B34);
    -fx-border-width: 4px;
    -fx-background-color: linear-gradient(to bottom right, #5AFF15, #007B34);
    -fx-text-fill: white;
}

.buttonRegular:hover {
    -fx-border-color: linear-gradient(to bottom right, #007B34, #5AFF15);
    -fx-background-color: linear-gradient(to bottom right, #007B34, #5AFF15);
    -fx-text-fill: white;
}

.buttonDanger {
    -fx-border-color: linear-gradient(to bottom right, #eb053a, #b50404);
    -fx-border-width: 4px;
    -fx-background-color: linear-gradient(to bottom right, #eb053a, #b50404);
    -fx-text-fill: white;
}

.buttonDanger:hover {
    -fx-border-color: linear-gradient(to bottom right, #b50404, #eb053a);
    -fx-background-color: linear-gradient(to bottom right, #b50404, #eb053a);
    -fx-text-fill: white;


}


