
@font-face {
    font-family: 'Kabel-Heavy';
    src:url('../fonts/kabel/Kabel-Heavy.ttf.woff') format('woff'),
    url('../fonts/kabel/Kabel-Heavy.ttf.svg#Kabel-Heavy') format('svg'),
    url('../fonts/kabel/Kabel-Heavy.ttf.eot'),
    url('../fonts/kabel/Kabel-Heavy.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

.button {
    -fx-padding: 15px;
    -fx-font-size: 20px;
    -fx-border-radius: 10px;
    -fx-background-radius: 13px;
    -fx-border-color: rgb(10, 104, 255);
    -fx-border-width: 4px;
    -fx-background-color: white;
    -fx-text-fill: rgb(10, 104, 255);
    -fx-font-family: 'Avenir Next';
    -fx-font-weight: bold;
}

.button:hover {
    -fx-border-color: transparent;
    -fx-background-color: rgb(10, 104, 255);
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0, 0.6), 13, 0, 0, 0);

}