.avenirNext {
    -fx-font-family: 'Avenir Next';
}

.mainTitle {
    -fx-font-weight: bold;
}

.wrapper {
    -fx-background-color: rgba(255,255,255,0.7);
    -fx-background-radius: 30px;
}

.button {
    -fx-padding: 7px;
    -fx-border-radius: 5px;
}

.stackPane {

}

.checkPriv {
}

.checkPriv:selected .box {
    -fx-background-color: linear-gradient(to bottom right, #5AFF15, #007B34)
}

.checkPriv:selected .mark {
    -fx-background-color: white;
}
