.avenirNext {
    -fx-font-family: 'Avenir Next';
}

.mainTitle {
    -fx-font-weight: bold;
}

.wrapper {
    -fx-background-color: rgba(255.0,255.0,255.0,0.7);
    -fx-background-radius: 30.0px;
}

.button {
    -fx-padding: 7.0px;
    -fx-border-radius: 5.0px;
}

.stackPane {

}

.checkPriv {
}

.checkPriv:selected .box {
    -fx-background-color: linear-gradient(to bottom right, #5AFF15, #007B34)
}

.checkPriv:selected .mark {
    -fx-background-color: white;
}
