.tradeButton {
    -fx-border-color: linear-gradient(to bottom right, #b100fc, #ff002f);
    -fx-text-fill: linear-gradient(to bottom right, #b100fc, #ff002f);
    -fx-background-color: white;
    -fx-padding: 5.0px;
}

.tradeButton:hover {
    -fx-border-color: linear-gradient(to bottom right, #b100fc, #ff002f);
    -fx-background-color: linear-gradient(to bottom right, #b100fc, #ff002f);
    -fx-text-fill: white;
}

.playerNameLabel {
    -fx-text-fill: linear-gradient(to bottom right, #b100fc, #ff002f);
}

.playerTurn {
	-fx-border-color: green;
	-fx-border-width: 10.0;
	-fx-border-insets: -10.0;
	-fx-border-radius: 20.0;
}